* {
    margin: 0;
    padding: 0;
    font-family: Open Sans, sans-serif;
    box-sizing: border-box;
}

body {
    margin: 2rem 12.5rem;
}


li {
    list-style: none;
}


/*nav section*/

.nav {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    align-items: center;
}

.nav-item__name {
    font-size: 45px;
    color: #181818;
    font-weight: 800;
}

.nav-item-highlight {
    color: #FD6E0A;
}

.nav__button, .hero-button__cv {
    font-size: 20px;
    width: 150px;
    height: 64px;
    font-weight: 700;
    background-color: #FD6E0A;
    color: #fff;
    border-radius: 5px;
    border: none;
}


/*hero section*/
.hero-text {
    display: flex;
    flex-direction: column;
    margin-top: 12rem;
}

.hero-text__sub {
    font-size: 45px;
    color: #474747;
    font-weight: 600;
    margin-top: 1rem;
}

.hero-text__title {
    margin-top: 0.5rem;
    font-size: 85px;
    color: #181818;
    font-weight: 700;
}

.hero-text__paragraph {
    margin-top: 1.25rem;
    font-size: 18px;
    color: #757575;
    width: 50%;
}

.hero-button {
    display: flex;
    gap: 2rem;
    margin-top: 2rem;

}

.hero-button__cv {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
}


.hero-button__contact {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    font-size: 20px;
    width: 160px;
    height: 64px;
    font-weight: 700;
    background-color: #fff;
    color: #FD6E0A;
    border-radius: 5px;
    border: 1px solid #FD6E0A;
}


.hero-image__bg {
    position: absolute;
    z-index: -10;
    bottom: 0;
    right: 0;
}

.hero-image__dev {
    position: absolute;
    z-index: 10;
    bottom: 0;
    right: 0;
}

.hero-text__background {
    color: rgba(24, 24, 24, 0.15);
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 33px;
    position: absolute;
    transform: rotate(-90deg);
    top: 22rem;
    left: -20rem;
}

.hero-section {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin-top: 5rem;
}


/*about section*/

.about {
    margin: 30rem auto;
    width: 1200px;
    height: 600px;
    border-radius: 10px;
    background: #FFF8F3;
    justify-content: center;
}


.about-outer-div {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}


.about-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 827px;
    flex-direction: column;
    gap: 30px;
}

.about__title, .skills-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


.about__details, .skills-text {
    color: #757575;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
}


.about__footer {
    display: flex;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    gap: 1rem;
}

.about__footer span {
    color: #474747;
    font-weight: bold;
}

.info-item {
    display: flex;
    flex-direction: column;

}


/*tech-stack section*/

.skills {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin: -20rem auto;
    width: 1200px;
    border-radius: 10px;
    justify-content: center;

}

.skills-text {
    margin: 0 auto;
    width: 909px;
}


.skills-cards {
    display: flex;
    justify-content: space-between;
    background:red ;
    flex-shrink: 1;
}

.skills-card {
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
    align-items: start;
    width: 267px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0 6px 50px 0 rgba(0, 0, 0, 0.06);
    padding: 2rem;
}


.skills-card h1 {
    color: #181818;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.skills-card p {
    width: 201px;
    color: #757575;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
}
